@import url("https://fonts.googleapis.com/css2?family=Jomhuria&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(255, 255, 255, 1);
  color: #000000;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.e-i-header.is-open .e-i-header-background {
  left: 0;
}
.e-i-header-button-wrapper {
  margin-left: auto;
}
.e-i-header-icon {
  display: none;
}

.e-i-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.e-i-navigation-list.is-open {
  right: 0;
}
.e-i-header-icon-menu {
  display: block;
}

.e-i-header-icon-button.is-open .e-i-header-icon-menu {
  display: none;
}

.e-i-header-icon-button.is-open .e-i-header-icon-close {
  display: block;
}

.e-i-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 74px;
}

.e-i-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(16, 48, 76, 1);
}
.e-i-header.is-open .e-i-header-background {
  left: 0;
}
.e-i-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.e-i-header-icon-menu {
  display: block;
}

.e-i-header-icon-button.is-open .e-i-header-icon-menu {
  display: none;
}

.e-i-header-icon-button.is-open .e-i-header-icon-close {
  display: block;
}

.e-i-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 30px;
  position: relative;
}

.e-i-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 60px 32px 0;
  gap: 26px;
  background: rgba(16, 48, 76, 1);
}

.e-i-navigation-list.is-open {
  right: 0;
}

.e-i-navigation-link {
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1%;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.e-i-navigation-link:hover,
.e-i-navigatioт-link:focus {
  font-family: Lato;
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 1%;
}

.e-i-header.is-open {
  background-color: transparent;
}

.e-i-navigation-img {
  display: none;
}

@media screen and (min-width: 1191px) {
  .e-i-navigation-img {
    display: flex;
  }
  .e-i-policy-terms-header-icon-menu {
    display: none;
  }
  .w-b-header-button-wrapper {
    display: none;
  }
  .e-i-header {
    width: 100%;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background: rgba(16, 48, 76, 1);
    backdrop-filter: blur(100px);
  }

  .e-i-header-background {
  }
  .e-i-header-icon-button {
    display: none;
  }
  .e-i-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .e-i-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 50px;
    height: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .e-i-navigation-link {
    font-family: Lato;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 1%;
  }

  .e-i-navigation-item-desk {
    display: none;
  }
  .e-i-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.e-i-home {
  width: 375px;
  height: 814px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Frame\ 295.png");
  margin: auto;
}
.e-i-home-container {
  width: 375px;
  padding: 442px 53px 0px;
  margin: auto;
}

.e-i-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(255, 255, 255, 1);
}

.e-i-home-title {
  font-family: Jomhuria;
  font-weight: 400;
  font-size: 52px;
  line-height: 78%;
  letter-spacing: 1%;
  text-align: center;
}

.e-i-home-text {
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;

  padding: 16px 0;
}

@media screen and (min-width: 1191px) {
  .e-i-home {
    width: 1440px;
    height: 753px;
    background-image: url("/img/Frame\ 296.png");
  }
  .e-i-home-container {
    width: 1440px;
    padding: 400px 536px 0px;
  }

  .e-i-home-title {
    font-family: Jomhuria;
    font-weight: 400;
    font-size: 52px;
    line-height: 78%;
    letter-spacing: 1%;
    text-align: center;
  }

  .e-i-home-text {
    font-family: Lato;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.e-i-about-container {
  width: 375px;
  padding: 56px 30px 80px;
  margin: auto;
}
.e-i-about-title {
  font-family: Jomhuria;
  font-weight: 400;
  font-size: 52px;
  line-height: 78%;
  letter-spacing: 1%;
  text-align: center;
}
.e-i-about-text {
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;

  padding: 24px 0 0px;
}

@media screen and (min-width: 1191px) {
  .e-i-about-container {
    width: 1440px;
    padding: 130px 402px;
  }
  .e-i-about-title {
    font-family: Jomhuria;
    font-weight: 400;
    font-size: 52px;
    line-height: 78%;
    letter-spacing: 1%;
    text-align: center;
  }
  .e-i-about-text {
    font-family: Lato;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;

    padding: 40px 0 0px;
  }
  .e-i-about-img {
    width: 1032px;
    border-radius: 4px;
  }
}
.e-i-why {
  background: rgba(16, 48, 76, 1);
}

.e-i-why-container {
  width: 375px;
  margin: auto;
  padding: 24px;
}
.e-i-about-title-two {
  color: rgba(255, 255, 255, 1);
}
.e-i-why-list {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
.e-i-why-item {
  background: rgba(255, 255, 255, 0.15);
  width: 327px;
  height: 202px;
  border-radius: 24px;
  padding: 16px;
  color: rgba(255, 255, 255, 1);
}

.e-i-why-text-bold {
  font-family: Jomhuria;
  font-weight: 400;
  font-size: 84px;
  line-height: 78%;
  letter-spacing: 1%;
}

.e-i-why-text {
  font-family: Lato;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  padding: 16px 0 10px;
}
.e-i-why-text-two {
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1191px) {
  .e-i-why-container {
    width: 1440px;
    padding: 60px 204px;
  }
  .e-i-why-list {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
  }
  .e-i-why-item {
    width: 240px;
    height: 250px;
    border-radius: 24px;
    padding: 16px;
  }

  .e-i-why-text-bold {
    font-family: Jomhuria;
    font-weight: 400;
    font-size: 84px;
    line-height: 78%;
    letter-spacing: 1%;
  }

  .e-i-why-text {
    font-family: Lato;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    padding: 16px 0 10px;
  }
  .e-i-why-text-two {
    font-family: Lato;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.e-i-uniqueness-container {
  margin: auto;
  width: 375px;
  padding: 80px 30px 0;
}

.e-i-uniqueness-text {
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;

  padding: 16px 0px;
}

@media screen and (min-width: 1191px) {
  .e-i-uniqueness-container {
    margin: auto;
    width: 1440px;
    padding: 130px 402px 0px;
  }
  .e-i-uniqueness-text {
    font-family: Lato;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.e-i-reviews-container {
  margin: auto;
  padding: 80px 29.5px 0;
  width: 375px;
}
.e-i-reviews-list {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.e-i-reviews-item {
  padding: 16px;
}

.e-i-reviews-text-bold {
  font-family: Lato;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0%;
  width: fit-content;
  border-radius: 4px;
  padding: 4px;
  border: 1px solid rgba(0, 0, 0, 1);
}

.e-i-reviews-text {
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0%;
  padding-top: 16px;
}

@media screen and (min-width: 1191px) {
  .e-i-reviews-container {
    margin: auto;
    padding: 130px 204px 0;
    width: 1440px;
  }

  .e-i-reviews-list {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .e-i-reviews-item {
    padding: 31px 16px;
    width: 240px;
  }

  .e-i-reviews-text-bold {
    font-family: Lato;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0%;
    width: fit-content;
    border-radius: 4px;
    padding: 4px;
    border: 1px solid rgba(0, 0, 0, 1);
  }

  .e-i-reviews-text {
    font-family: Lato;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0%;
  }
}
.e-i-features {
  background: rgba(16, 48, 76, 1);
}
.e-i-features-container {
  margin: auto;
  padding: 24px;
  width: 375px;
}
.e-i-features-list {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.e-i-features-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  width: 327px;
  height: 122px;
  gap: 16px;
  border-radius: 24px;

  border-radius: 24px;
  padding: 0px 16px 0;
  background: rgba(255, 255, 255, 0.15);
  color: rgba(255, 255, 255, 1);
}
.e-i-features-item-two {
  width: 327px;
  height: 194px;
  gap: 16px;
  border-radius: 24px;
}
.e-i-features-text-bold {
  font-family: Lato;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0%;
}

.e-i-features-text {
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0%;
}

@media screen and (min-width: 1191px) {
  .e-i-features-container {
    margin: auto;
    padding: 60px 204px;
    width: 1440px;
  }

  .e-i-features-list {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px;
    height: 368px;
  }

  .e-i-features-item {
    width: 328px;
    height: 152px;
    gap: 16px;
    border-radius: 24px;
  }
  .e-i-features-item-two {
    width: 328px;
    height: 328px;
    gap: 16px;
    border-radius: 24px;
  }
  .e-i-features-text-bold {
    font-family: Lato;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0%;
  }

  .e-i-features-text {
    font-family: Lato;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0%;
  }
}
.e-i-faq-container {
  padding: 80px 30px 94px;
  width: 375px;
  margin: auto;
}
.e-i-faq-list {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.e-i-faq-item {
  border-radius: 24px;
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;

  background: rgba(16, 48, 76, 1);
  color: rgba(255, 255, 255, 1);
  box-shadow: 2px -3px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.e-i-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Lato;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

.e-i-faq-answer {
  padding-top: 16px;
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}
.e-i-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}
.e-i-toggle-button img {
  width: 36px;
  height: 36px;
}
.e-i-toggle-button img {
  transition: transform 0.3s ease;
}
.e-i-faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
  opacity: 0;
  padding-top: 0;
}

.e-i-faq-answer.open {
  max-height: 200px;
  opacity: 1;
  padding-top: 16px;
}

.e-i-toggle-button img {
  transition: transform 0.3s ease;
}

.e-i-toggle-button img.rotated {
  transform: rotate(180deg);
}

@media screen and (min-width: 1191px) {
  .e-i-faq-container {
    padding: 130px 356px 101px;
    width: 1440px;
    margin: auto;
  }
  .e-i-faq-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 40px;
  }

  .e-i-faq-question {
    font-family: Lato;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .e-i-faq-answer {
    font-family: Lato;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.e-i-gallery-container {
  width: 375px;
  margin: auto;
  padding: 80px 29px;
}
.e-i-gallery-list {
  padding-top: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}

.e-i-gallery-item {
  width: 150px;
  height: 150px;
  border-radius: 24px;

  overflow: hidden;
  position: relative;
}
.e-i-gallery-item-two {
  width: 316px;
  height: 142px;

  overflow: hidden;
  position: relative;
}
.e-i-gallery-image {
  height: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 1191px) {
  .e-i-gallery-container {
    width: 1440px;
    margin: auto;
    padding: 130px 204px;
  }

  .e-i-gallery-list {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .e-i-gallery-item {
    width: 504px;
    height: 466px;
    border-radius: 24px;
  }
  .e-i-gallery-item-two {
    width: 1032px;
    height: 465px;
    border-radius: 24px;
  }
}

.e-i-policy-terms-container {
  padding: 122px 20px 40px;
  width: 375px;
  margin: auto;
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

.e-i-policy-terms-container h1 {
  font-family: Jomhuria;
  font-weight: 400;
  font-size: 52px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;

  margin-bottom: 20px;
}
.e-i-policy-terms-container h2 {
  font-family: Lato;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;

  margin: 20px 0;
}
.e-i-policy-terms-container ul {
  list-style-type: disc;
  margin: 0px 0 0 20px;
}

.e-i-email-link {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1191px) {
  .e-i-policy-terms-container {
    padding: 184px 108px 70px;
    width: 1440px;
    font-family: Lato;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .e-i-policy-terms-container h1 {
    font-family: Jomhuria;
    font-weight: 400;
    font-size: 52px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

    margin-bottom: 20px;
  }
  .e-i-policy-terms-container h2 {
    font-family: Lato;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;

    margin: 20px 0;
  }
  .e-i-policy-terms-container ul {
    list-style-type: disc;
    margin: 0px 0 0 20px;
  }

  .e-i-email-link {
    color: inherit;
    text-decoration: none;
  }
}

.e-i-footer-container {
  background: rgba(16, 48, 76, 1);

  width: 375px;
  padding: 25px 0px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  color: rgba(255, 255, 255, 1);
}

.e-i-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 19px;
}

.e-i-footer-text {
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;

  color: inherit;
}

.e-i-footer-copyright {
  font-family: Lato;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 1%;
}

@media screen and (min-width: 1191px) {
  .e-i-footer-container {
    width: 1440px;
  }

  .e-i-footer-wrapper {
    display: flex;
    flex-direction: row;
  }

  .e-i-footer-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 1%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }

  .e-i-footer-copyright {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 1%;
  }
}

.e-i-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 40px 28px;
  background: rgba(255, 255, 255, 1);

  z-index: 1000;
  display: none;
  color: rgba(0, 0, 0, 1);
}
.e-i-cookie-popup-text {
  font-family: Lato;
  font-weight: 700;
  font-size: 24px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

.e-i-cookie-popup-text-two {
  font-family: Lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;

  padding-top: 24px;
}

.e-i-cookie-button-container {
  padding: 24px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.e-i-cookie-button {
  border: none;
  background-color: transparent;
  width: 319px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 8px;

  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 0px 1px 3px 0px rgba(135, 97, 76, 1);
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: inherit;
}

#accept-cookies {
  border: none;
  color: rgba(255, 255, 255, 1);
  background: rgba(16, 48, 76, 1);
}

.e-i-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1191px) {
  .e-i-cookie-popup-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 22px;
    letter-spacing: 0%;
  }

  .e-i-cookie-popup-text-two {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }

  .e-i-cookie-button-container {
    margin: auto;
    display: flex;
    flex-direction: row;
  }
  .e-i-cookie-button {
    width: 269px;
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .e-i-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 61px;
    display: none;
  }
}
